@import 'assets/styles/hero.scss';

$width: 500px;
$height: 600px;

.mat-card-image {
  height: $height;
}

.mat-card {
  max-width: $width;
  min-height: $height;
  margin: 20px;
}

.ability {
  height: inherit !important;
}

.item {
  height: inherit !important;
}
