<ng-container *ngxComponentOutlet="resolver | resolve: entity"></ng-container>
<!--<ng-container *ngxDynamic="entity"></ng-container> &lt;!&ndash; component's context (Input + Output) &ndash;&gt;-->

<!--<ng-container *ngFor="let entity of entities">-->
    <!--<ng-container *ngxDynamic="entity; context: { selectedEntity: entity }"></ng-container>-->
<!--</ng-container>-->

<!--<heroes-list> - context HL-->
    <!--<dynamic-entities> - contextDEs-->
        <!--<dynamic-entity> - context DE-->
            <!--<hero></hero> - context DE-->
        <!--</dynamic-entity>-->
        <!--<dynamic-entity> - context DE-->
            <!--<item></item> - context DE-->
        <!--</dynamic-entity>-->
    <!--</dynamic-entities>-->
<!--</heroes-list>-->

<!--<heroes-list> - context HL-->
    <!--<ng-container> - context HL-->
        <!--<hero></hero> - context HL-->
        <!--<item></item> - context HL-->
    <!--</ng-container>-->
<!--</heroes-list>-->
<!--<heroes-list> - context HL-->
    <!--<ng-container *ngSwitch> - context HL-->
        <!--<hero [entity]></hero> - context H-->
        <!--<item [entity]></item> - context I-->
    <!--</ng-container>-->
<!--</heroes-list>-->


<!--<dynamic-entities></dynamic-entities>-->
    <!--entities = [ hero, item ]-->
    <!--<hero-dynamic></hero-dynamic>-->
        <!--entity = hero-->
    <!--<item-dynamic></item-dynamic>-->
        <!--entity = item-->




<!--EntitiesComponent =>-->
    <!--ngOnChanges()-->

<!--context: {...comp_Context, entity: entity }-->

<!--<q1>-->
<!--input question-->
<!--output answered-->
<!--</q1>-->
