<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a mat-button routerLink="/">
            <img class="angular-logo" src="/assets/img/angular-white-transparent.svg" alt="Angular">
            NgxComponentOutlet
        </a>
        <span class="spacer"></span>
        <a mat-button href="https://github.com/thekiba/ngx-component-outlet-demo">
            <img class="github-logo" src="/assets/img/github-circle-white-transparent.svg" target="_blank" alt="NgxComponentOutlet">
            Github
        </a>
    </mat-toolbar-row>
</mat-toolbar>
